body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #dddff0;
}

code {
  font-family: "Courier New", monospace;
}

.buttons {
  margin-top: 5px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column !important;
  width: 100%;
  align-items: center;
}

.sec3 {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.black {
  color: black !important;
  font-weight: bold !important;
}

.picker {
  width: 120px;
  height: 35px;
  font-size: large;
}

.income {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}
.incomecell {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  margin-bottom: 150px;
}
.income1 {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.income2 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 50%;
}

.income2cell {
  display: flex;
  flex-direction: column;
  justify-items: center;

  width: 100%;
}
.income1cell {
  width: 100%;
}
